@model IList<LABA333.Models.Tovar>
@{

}
<h1>Сотрудники</h1>
<table class="table">
    <thead>
        <tr>
            <td>Клиент</td>
            <td>Пост</td>
            <td>Склад</td>
            <td>Сотрудник</td>
            <td>Заказ</td>
             <td>Номер заказа</td>
             <td>Дата доставки</td>
            <td>Адрес</td>
            <td></td>
        </tr>
    </thead>
    <thead>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.name</td>
                <td>@order.price</td>
                <td>@order.delivery_time</td>
                <td><a href="~/Home/Buy/@order.Id_product">Открыть</a></td>
            </tr>
        }
    </thead>
</table>
