@model IList<LABA333.Models.Employee>
@{   

}
 

    <h1>Сотрудники</h1>
<table class="table">
    <thead>
        <tr>
            <td>ФИО</td>
            <td>Почта</td>
            <td>Идентификатор</td>
            <td>Номер Должности</td>
            <td></td>
        </tr>
    </thead>
    <thead>
        @foreach (var employee in Model)
            {
            <tr>
                <td>@employee.full_name</td>
                <td>@employee.email</td>
                <td>@employee.identifier</td>
                <td>@employee.id_post</td>
                <td><a href="~/Home/Buy/@employee.Id">Открыть</a></td>
            </tr>
        }
    </thead>
    </table>
