@model IList<LABA333.Models.Klient>
@{   

}
 

    <h1>Клиенты</h1>
<table class="table">
    <thead>
        <tr>
            <td>ФИО</td>
            <td>Почта</td>
            <td>Номер телефона</td>
            <td>Адрес</td>
            <td></td>
        </tr>
    </thead>
    <thead>
        @foreach (var Klient in Model)
            {
            <tr>
                <td>@Klient.name</td>
                <td>@Klient.email</td>
                <td>@Klient.phone_number</td>
                <td>@Klient.address</td>
                <td><a href="~/Home/Buy/@Klient.Id_klient">Открыть</a></td>
            </tr>
        }
    </thead>
    </table>
